/* SIDEBAR */
@media screen and (min-width: 576px) {
  .mobile-navbar {
    display: none !important;
  }
}
.sidebar-header {
 position: sticky;
 top: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 1rem;
}
.sidebar-title {
 color: rgb(116, 109, 96);
 padding-right: 1.2rem;
 font-weight: bold;
 cursor: pointer;
 letter-spacing: 0.05rem;
 transition: all 0.2s ease-in-out;
}
.sidebar-title:hover {
 color: white;
}
.icon {
 cursor: pointer;
 color: white;
 font-size: 1.4rem;
}
.sidebar-wrapper {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;
 width: 100%;
 height: 100%;
 color: white;
 background-color: rgba(77, 67, 67, 0.3) ;
 visibility: hidden;
 transform: translate(-100%);
 transition: 0.5s;
}
.sidebar-wrapper.show {
 visibility: visible;
 transform: translate(0);
}
.sidebar {
 position: relative;
 height: 100%;
 padding-top: 1.5rem;
 margin-right: 3rem;
 color: rgb(114, 111, 105);
 background-color: rgb(2, 1, 22, 0.96);
 overflow: auto;
}
.left {
 right: 1.5rem;
 top: 1.5rem;
 position: absolute;
 font-size:1.5rem;
}
.link {
 display: flex;
 align-items: center;
 padding: 0.8rem;
 padding-left: 2rem;
 font-weight: bold;
 transition: all 0.3s ease-in-out;
}
.link:hover {
 color: white;
 background: linear-gradient(to right, rgb(0, 128, 0), rgb(2, 1, 22, 0.96), rgb(0, 0, 0, 0.2));
}
.link a {
 color: wheat;
 padding-left: 1rem;
 text-transform: capitalize;
}

/* DESKTOP NAVBAR */
.navbar {
 height: 100%;
 width: 100%;
 padding-top: 1.5rem;
 color: rgb(114, 111, 105);
 overflow: auto;
}
.navbar-link {
  width: 100%;
 display: flex;
 align-items: center;
 padding: 0.8rem;
 padding-left: 0.5rem;
 font-weight: bold;
 transition: all 0.3s ease-in-out;
}
.navbar-link:hover {
 color: white;
 background: linear-gradient(to right, rgb(0, 128, 0), rgb(2, 1, 22, 0.96), rgb(0, 0, 0, 0.2));
}
.navbar-link a {
  color: wheat;
 padding-left: 1rem;
 text-transform: capitalize;
}