.nav {
  background-color: rgb(2, 1, 22, 0.96) ;
  min-height: 100%;
  position: fixed;
overflow: auto;}
.big {
  background-color: rgb(2, 1, 22, 0.95);
    min-height: 100vh;

}
@media screen and (max-width: 576px) {
  .nav {
    display: none !important;
  }
}
a {
  text-decoration: none;
}